doctype html
html
  head
    meta(charset="utf-8")
    title #{pageTitle}
    block style
      style.
        body {
          background-color: #FEFFD6;
        }
    block scripts
  body
    block content
